* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.container{
    display: flex;
    width: 800px;
    justify-content: center;
    height: 600px;
    align-items: center;
    background-color: #333;
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    padding-inline-start: 0;
}

li {
    font-size: 1.5em;
    padding: 1em;
}

.highlight {
    background-color: yellowgreen;
}